xml-resources/web-service-references/converter/wsdl/ws.docencia.ces.siani.es/a19/SecondWSProject/converter.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="converter">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://ws.docencia.ces.siani.es/a19/SecondWSProject/converter?xsd=1"/>
</xsd:schema>
</types>
<message name="celciusToKelvin">
<part name="parameters" element="tns:celciusToKelvin"/>
</message>
<message name="celciusToKelvinResponse">
<part name="parameters" element="tns:celciusToKelvinResponse"/>
</message>
<message name="kelvinToCelcius">
<part name="parameters" element="tns:kelvinToCelcius"/>
</message>
<message name="kelvinToCelciusResponse">
<part name="parameters" element="tns:kelvinToCelciusResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="converter">
<operation name="celciusToKelvin">
<input wsam:Action="http://service/converter/celciusToKelvinRequest" message="tns:celciusToKelvin"/>
<output wsam:Action="http://service/converter/celciusToKelvinResponse" message="tns:celciusToKelvinResponse"/>
</operation>
<operation name="kelvinToCelcius">
<input wsam:Action="http://service/converter/kelvinToCelciusRequest" message="tns:kelvinToCelcius"/>
<output wsam:Action="http://service/converter/kelvinToCelciusResponse" message="tns:kelvinToCelciusResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service/converter/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service/converter/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="converterPortBinding" type="tns:converter">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="celciusToKelvin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="kelvinToCelcius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="converter">
<port name="converterPort" binding="tns:converterPortBinding">
<soap:address location="http://ws.docencia.ces.siani.es/a19/SecondWSProject/converter"/>
</port>
</service>
</definitions>